# Dependencies
node_modules/
vendor/

# Git
.git
.gitignore
.gitattributes

# Docker files sendiri
docker-compose*.yml
Dockerfile
.dockerignore
docker/posgtres/

# Dev & CI
.github
.gitlab-ci.yml
phpunit.xml
.phpunit.cache

# Environment
.env
.env.*
!.env.example

# Cache & logs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Docs
README.md
CHANGELOG.md
*.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo